.close {
    position: relative;
    opacity: 0.5;
    left: 5px;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
    top: 10px;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}